<h2>Gallery: {{gallery.name}}</h2>

<div id="message" class="{{adminNoticeClass}}"><p>{{adminNoticeText}}</p></div>

<nav class="gallery-breadcrumb">
	<ul ng-if="path">
		<li>Pfad:&nbsp;<a 
			ui-sref="galleries({ path: '' })"
			ui-sref-opts="{reload: true}">Home</a>
		</li>
		<li ng-repeat="parent in gallery.parents">
			>&nbsp;<a 
			ui-sref="galleries({ path: parent.file })"
			ui-sref-opts="{reload: true}">{{parent.name}}</a>
		</li>
	</ul>
	<div>&nbsp;</div>
</nav><!-- .gallery-breadcrumb -->

<h2 class="nav-tab-wrapper">
	<a
		ng-repeat="item in navbarTabs"
		ng-class="{'nav-tab-active': navbarTabsCurrent==item.state}"
		ng-show="showStates(item.state)"
		class="nav-tab"
		ui-sref="{{item.state}}({ path: path })"
		ui-sref-opts="{reload: true}">{{item.label}}</a>			
</h2>

<div>
	<div ui-view></div>
</div>