@item-width: 250px;

.gallieres {
	
	input[type="submit"] {
		position: absolute;
		right: 30px;
		top: 95px;
	}	
	
	.gallery {
		.gallery-item {
			display: inline-block;
			width: 200px;
			height: 100px;
			margin: 5px;
			padding: 5px;
			background: white;
			box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
		}
		/*.gallery-item.add {
			background: none;
			border: 2px dashed gray;
			box-shadow: none;
			color: gray;
			text-align: center;
			
			.glyphicon {
				font-size: 30px;
				padding: 10px;
			}
		}*/
	}
	
	.photo {
		
		.photo-item {
			display: inline-block;
			width: @item-width;
			margin: 5px;
			padding: 5px;
			background: white;
			background: rgb(241, 241, 241);
			border: 1px solid #cccccc;
			
			img {
				width: @item-width;
			}
			
			textarea {
				width: @item-width;
				height: 80px;
				padding: 0px;
				border: 0px;
			}
		}
	}
}