<img
	alt="{{item.id}}"
	ng-src="{{filepath}}/{{item.file}}">
<textarea
	ng-model="item.description"
	placeholder="Enter a description ..."></textarea>
<select
	ng-model="item.photographer"
	ng-show="showPhotographer"
	title="Select photographer">
	<option></option>
	<option
		ng-repeat="item in photographers"
		value="{{item.id}}">{{item.name}}</option>
</select>
<div class="options">
	<span class="left">
		<a ng-click="showPhotographer = !showPhotographer" title="Select photographer">
			<span class="dashicons dashicons-admin-users"></span>
		</a>
	</span>
	<span class="right">
		<a title="Delete photo"><span class="dashicons dashicons-trash"></span></a>
	</span>
</div>
