<div class="gallieres"
	infinite-scroll="onPageBottom()"
	infinite-scroll-distance="1">
	<ul class="gallery">
		<li ng-repeat="item in galleries">
			<gallery-item item="item" /></gallery-item>
		</li>
	</ul><!-- .gallery -->
	<form ng-submit="postPhotos(photos)">		
		<ul class="photo"
			ng-model="photos"
			ui-sortable="sortableOptions">
			<li
				class="photo-item"
				ng-repeat="item in photos | limitTo:photosLimit">
				<photo-item
					filepath="{{appConfig.upload_url}}/thumb/{{gallery.file}}"
					item="item"
					sequence="$index"
					photographers="photographers"
					licences="licences"></photo-item>
			</li>
		</ul><!-- .photo -->
		<input
			class="button button-primary"
			type="submit"
			value="Save changes">
	</form>
</div><!-- .gallieres -->